[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
finnhub-python = "*"
pandas = "*"
python-dotenv = "*"
seaborn = "*"
numpy = "*"

[requires]
python_version = "3.8"
